version: "3.3"

services:
  alpha:
    build:
      context: . 
      dockerfile: conti-test
    container_name: alpha 
    hostname: alpha 
    networks:
      conti-test:
        ipv4_address: 172.16.100.140
    oom_score_adj: 0
    
  bravo:
    build:
      context: . 
      dockerfile: conti-test
    container_name: bravo
    hostname: bravo
    networks:
      conti-test:
        ipv4_address: 172.16.100.141
    depends_on:
      - alpha
    deploy:
     resources:
       limits:
         cpus: '0.1'
         memory: 4g
    oom_score_adj: 0


  charlie:
    build:
      context: .
      dockerfile: conti-test
    container_name: charlie # docker cli name
    hostname: charlie # inside ct and in network
    networks:
      conti-test:
        ipv4_address: 172.16.100.142
    volumes:
      - charlie-data:/opt/data # presistent vol
    depends_on:
      - bravo # start after bravo is up
    environment:
      - CONTI_ENV
      - CONTI_DB_NAME
    oom_score_adj: -500 # ommm prio
    ulimits: # file descriptor
      nofile:
        soft: 1048576
        hard: 1048576

networks:
  conti-test:
    driver: bridge
    ipam:
      config:
        - subnet: 172.16.100.128/26

volumes:
  charlie-data:
