version: "3.3"

services:
  alpha:
    build:
      context: . 
      dockerfile: conti-test
    container_name: alpha 
    hostname: alpha 
    networks:
      conti-test:
        ipv4_address: 172.16.100.140
    
  bravo:
    build:
      context: . 
      dockerfile: conti-test
    container_name: bravo
    hostname: bravo
    networks:
      conti-test:
        ipv4_address: 172.16.100.141
    depends_on:
      - alpha


  charlie:
    build:
      context: .
      dockerfile: conti-test
    container_name: charlie
    hostname: charlie
    networks:
      conti-test:
        ipv4_address: 172.16.100.142
    volumes:
      - charlie-data:/opt/data
    depends_on:
      - bravo
    environment:
      - CONTI_ENV
      - CONTI_DB_NAME


networks:
  conti-test:
    driver: bridge
    ipam:
      config:
        - subnet: 172.16.100.128/26

volumes:
  charlie-data:
