version: "3.3"

services:
  alpha:
    build:
      context: . 
      dockerfile: conti-test
    container_name: alpha
    hostname: alpha
    networks:
      conti-test:
        ipv4_address: 172.16.100.140

  bravo:
   build:
     context: . 
     dockerfile: conti-test
   container_name: barvo
   hostname: bravo
   networks:
     conti-test:
       ipv4_address: 172.16.100.141
  charlie:
   build:
     context: . 
     dockerfile: conti-test
   container_name: charlie
   hostname: charlie
   networks:
     conti-test:
       ipv4_address: 172.16.100.142



networks:
  conti-test:
    driver: bridge
    ipam:
      config:
        - subnet: 172.16.100.128/26
